/* CSS Document*/

html {
	background: none !important;
	height: 100%;
	width: 100%;
	}
		
				
form {
	clear: both;
	/*background: rgb(101,102,106) !important;
	color: #FFFFFF;*/
	z-index:1;
	padding: 10px;
	margin-top: 10px;
	

} 
body {
	/*background-color: #FFFFFF;
	background: url(../img/fondo.png) no-repeat left bottom !important ; */
	background-size: auto !important;
	background-repeat:no-repeat;
	margin: 0;
	padding: 0;
}

input[type=text]{
    width: 95%;
	padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea{
	width: 95%;
	padding: 50px;
    margin: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	
}
input[type=submit] {
    padding: 10px;
	cursor: pointer;
	margin-left: 1%;
	margin-top: 10px;
		
   }
input[type=button] {
    padding: 5px;
	cursor: pointer;
	margin-left: 50%;
	margin-top: 10px;
	
   }
label {
    display: inline-table;
	margin-bottom: -10px;
	padding: 20px;
	font-size:22px;
}


header{
   background: url(../img/CONSULTA.png) no-repeat left bottom !important ; 
	text-align: center;
    margin: 0 auto;
	position:relative !important;
	padding-bottom:30px;
	width:974px;
	height:150px;
	/*margin-top:5%;
	
	background-size: auto !important;
	background-repeat:no-repeat;*/
}


.inicio {
  	text-align: center;
    margin: 0 auto;
	position:relative !important;
	padding-bottom:30px;
	width:90px;
	height:50px;
	
}

.container {
   
	height: 50%;
	width: 50%;
 	justify-content: center;
	margin-top: 25px;
 	/*align-items: center;*/
	
}

body, div, dl, dt, dd, ul, ol, li, nav,  h2, h3, h4, h5, h6, pre,
code, form, fieldset, legend, input, button, textarea,
p, blockquote, th, td, a, section {
    border-width: 2;
 
    transform-origin: left top 0;
}

