:root {
    --bg-vino: rgb(137, 32, 54);
    --bg-oro: #BC955A;
    --bg-verde: rgb(18, 50, 43);
    --bg-oro-l: rgb(239, 224, 202);
    --bg-verde-l: rgb(35, 91, 78);
    --bg-gray: #BABABA;
    --bg-mal: hsla(353, 80%, 60%, 0.8);
    --bg-medio: hsl(43, 100%, 70%, 0.8);
    --bg-bien: hsl(152, 68%, 47%, 0.9);
}

.bg-vino {
    background-color: var(--bg-vino);
    color: var(--bg-oro-l);
}

.txt-green {
    color: var(--bg-verde-l);
}

.txt-vino {
    color: var(--bg-vino);
}

table thead tr {
    background: var(--bg-verde-l) !important;
    color: var(--bg-oro-l) !important;
    text-align: center !important;
}

body {
    background-color: hsla(0, 0%, 97%, 0.801) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.15rem rgba(23, 122, 99, 0.3);
    border-color: rgba(19, 107, 86, 0.3);
}

/** Campanita de Notificación */

.icon-noti {
    width: 32px;
    padding: 2px;
}

/*! Index */
.form {
    clear: both;
    background: rgb(225, 225, 225, .4) !important;
    backdrop-filter: blur(8px);
    color: #FFFFFF;
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
    height: auto;
    width: 500px;
    margin: 0 auto;
    border-radius: 25px;
}

.btn-gold {
    background: rgb(184, 142, 85) !important;
    color: #FFFFFF !important;
    border-radius: 10px;
}

/** Menú  */

.nav {
    /*height: 100vh;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    background-color: hsla(35, 55%, 86%, 0.747);
    transition: left 0.5s ease-in-out;
    z-index: 100;
    box-shadow: 7px 0px 19px -15px rgba(77, 77, 77, 1);
    border-radius: 0px 30px 30px 0px;
}

.nav__link {
    color: var(--bg-vino);
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link:hover {
    color: #868686;
    text-decoration: none;
    text-overflow: ellipsis;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 10px;
    text-align: left;
}

.nav__link--inside:hover {
    background: rgb(246, 248, 250);
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 24px 24px 0;
    background: var(--bg-oro-l);
    padding-left: 5px;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}


/** Contenedor Principal */

.contenedor {
    margin-left: 260px;
    margin-right: 20px;
    margin-top: 20px;
    height: 97vh;
    overflow-x: hidden;
    transition-duration: .6s;
}


/** Estilos Datatables */

.dataTables_length {
    padding-top: 12px;
}

table {
    font-size: .9rem;
}

table td {
    padding-top: 19px !important;
}

th {
    text-align: center !important;
}

.form-control-sm {
    width: 350px !important;
}

.page-link {
    color: var(--bg-vino) !important;
}

.page-link.active,
.active>.page-link {
    background-color: var(--bg-oro-l);
    border-color: var(--bg-oro);
    color: var(--bg-oro-l);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: var(--bg-oro-l) !important;
    background: var(--bg-oro-l) !important;
    border: none !important;
}

/*# + + + + + + + + + + + + + + + Alerts + + + + + + + + + + + + + + + + + */

.alert-rojo {
    background: var(--bg-mal);
    color: white;
    padding: 9px;
    text-align: center;
}

.alert-amarillo {
    background: var(--bg-medio);
    color: black;
    padding: 9px;
    text-align: center;
}

.alert-verde {
    background: var(--bg-bien);
    color: white;
    padding: 9px;
    text-align: center;
}


/*- Buttons  */

.btn-vino {
    background-color: var(--bg-vino);
    color: var(--bg-oro-l);
}

.btn-vino:hover {
    background-color: var(--bg-verde);
    color: var(--bg-oro-l);
}


/*# ocultar menú */

.ocultar-menu {
    transition-duration: .7s;
    left: -250px;
}

.content-full {
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 20px;
    height: 97vh;
    overflow-x: hidden;
    transition-duration: .8s;
}


/*# mostrar menu */

.mostrar-menu {
    transition-duration: .8s;
    left: 0px;
}

.mostrar {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: var(--bg-vino);
    border-radius: 50%;
}

.mostrar:hover {
    background: var(--bg-verde-l);

}

.pointer {
    cursor: pointer;
}

/*- Scrollbar */

.contenedor::-webkit-scrollbar {
    background-color: white !important;
    width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: var(--bg-oro-l);
    border-radius: 5px;
    height: 2px !important;
}

.content-full::-webkit-scrollbar {
    background-color: white !important;
    width: 7px;
}

.content-full::-webkit-scrollbar-thumb {
    background-color: var(--bg-oro-l);
    border-radius: 5px;
    height: 2px !important;
}

@media screen and (max-width: 600px) {
    .nav {
        left: -300px;
    }
}